<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Santolina</h3>
                <p>Tu espacio de bienestar integral donde encontrarás equilibrio entre cuerpo, mente y espíritu.</p>
            </div>
            <div class="footer-section">
                <h4>Servicios</h4>
                <ul>
                    <li ><a href="/alimentacion">Alimentación</a></li>
                    <li><a href="/yoga">Yoga</a></li>
                    <li><a href="/yoga-gong">Yoga y Gong</a></li>
                    <li><a href="/reiki-sesion">Sesión de Reiki</a></li>
                    <li><a href="/terapia-floral">Terapia Floral</a></li>
                    <li><a href="/eventos-disponibles">Próximos eventos</a></li>
                </ul>
            </div>
            <div class="footer-section oculto">
                <h4>Productos</h4>
                <ul>
                    <li><a href="#cosmetica">Cosmética</a></li>
                    <li><a href="#linea-cbd">Línea CBD</a></li>
                    <li><a href="#terapia-floral-productos">Terapia floral</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Síguenos</h4>
                <div class="social-links">
                    <a href="https://www.instagram.com/santolina.uy"><i class="fab fa-instagram"></i></a>                    
                    <a href="https://wa.me/59899971075" target="_blank"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Santolina. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>