<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    <title>Panel de Tienda</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

</head>
<body>
    {% include "partials/header.html" %}

    <section>

        <div class="container text-center mt-5">
            <h1 class="mb-4">Panel de Tienda</h1>
            <div class="d-grid gap-3 col-6 mx-auto">
                <a href="/admin/categorias_productos" class="btn btn-panel btn-lg">Categorías de productos</a>
                <a href="/admin/productos" class="btn btn-panel btn-lg">Productos</a>
                <a href="/admin/promociones" class="btn btn-panel btn-lg">Promociones</a>
                <a href="/admin/promociones-productos" class="btn btn-panel btn-lg">Promociones y Productos</a>
                <a href="/admin/cupones" class="btn btn-panel btn-lg">Cupones</a>
                <a href="/admin/ordenes" class="btn btn-panel btn-lg">Órdenes</a>
                <a href="/admin/envios" class="btn btn-panel btn-lg">Envíos</a>
                
            </div>
        </div>

    </section>

    <script src="/static/script.js"></script>
</body>
</html>