<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    <title>Santolina - Yoga</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    {% include "partials/header.html" %}

    <!-- Sección de Presentación -->
    <section id="presentacion-alimentacion" class="container-alimentacion">
        <div class="container-yoga-content">
            <h2 class="yoga-title">Alimentación</h2>
            <p class="yoga-subtitle">¿Sentís que algo en tu alimentación no está funcionando, 
                pero no sabés por dónde empezar? ¿Te gustaría sentirte con más energía, liviana/o, 
                o simplemente cuidar tu salud sin entrar en dietas estrictas ni modas pasajeras?</p>
                      
        </div>
    </section>

    <section id="clases-yoga" class="container-clases-yoga">
        <div class="container">
            <h2 class="section-title-index">Asesoramiento Nutricional</h2>
            <p class="section-subtitle">Mi propuesta de asesoramiento nutricional es cercana, 
                realista y personalizada. Te acompaño en el camino hacia una alimentación más consciente, 
                saludable y alineada con tu estilo de vida. Ya sea que quieras mejorar tus hábitos, 
                aprender a comer mejor o hacer una transición al vegetarianismo o veganismo.</p>
            
            <div class="agenda-grid">
                <div class="agenda-card text-left">
                    
                    <h3>¿Para quién es este acompañamiento?</h3>
                    <p>• Personas que quieren <strong>mejorar su salud general</strong> a través de la alimentación</p>
                    <p>• Quienes sienten que tienen <strong>“malos hábitos”</strong> pero no saben cómo cambiarlos</p>
                    <p>• Personas con poca organización que necesitan <strong>ideas simples y sencillas</strong></p>
                    <p>• Quienes desean hacer la transición a una alimentación vegetariana o vegana, 
                        pero no saben cómo empezar o temen hacerlo mal</p>
                    <p>• Personas que buscan <strong>reconectar con su cuerpo, su energía y su relación con la comida</strong> </p>

                </div>
                
                <div class="agenda-card text-left">                    
                    <h3>¿Qué incluye el asesoramiento?</h3>
                    <p>Este asesoramiento busca que transites un proceso de exploración, educación y pequeños cambios sostenibles</p>
                    <br>
                    <p>• Primera entrevista donde exploramos tus hábitos actuales, tus objetivos y tu relación con la comida</p>
                    <p>• Recomendaciones personalizadas, adaptadas a tu rutina y tus gustos</p>
                    <p>• Educación nutricional simple y clara: qué comer, cómo combinar alimentos, qué evitar</p>
                    <p>• Recetarios con ideas fáciles y ricas</p>                    
                    <p>• Seguimientos quincenales o mensuales (según modalidad)</p>
                </div>        
                
            </div>

            
            
            
           
        </div>
    </section>
    
    <section id="enfoque" class="container">

        <div class="contendor-btn-centrado">
            <div class="info-elements">
                <a href="/eventos-disponibles?categoria=2" class="btn btn-info">Ver modalidades disponibles</a>
            </div>
        </div>


        <div class="hero-container">
            <div class="hero-content">

                
                
                <div class="hero-content-text">
                    <h2>Preguntas frecuentes (FAQ):</h1>
                    <p class="hero-subtitle">
                        <br>
                        <strong>¿Tengo que ser vegana/o para acceder al asesoramiento?</strong><br>
                        No, acompaño cualquier tipo de alimentación que quiera mejorar desde un enfoque 
                        más natural, equilibrado y respetuoso con el cuerpo.<br>
                        <br>
                        <strong>¿Necesito cocinar o saber mucho de cocina?</strong><br>
                        ¡No! Te doy herramientas simples y realistas que se adaptan a tu nivel.<br>
                        <br>
                        <strong>¿Trabajás con patologías?</strong><br>
                        Este es un espacio de bienestar general. Si tenés alguna condición específica, 
                        trabajo en conjunto con tu médica/o o nutricionista clínico si fuera necesario.<br>
                        
                    </p>
                    
                    
                </div>
            </div>
            
        </div>
    </section>

    <!-- Sección de Contacto -->
    <section id="contacto" class="contact">
        <div class="container">
            <h2 class="section-title-index">Contacto</h2>
            <p class="section-subtitle">Contáctanos para solicitar más información y coordinar un asesoramiento</p>
            
            <div class="contact-content">
                <div class="contact-info">
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="contact-details">
                            <h3>Email</h3>
                            <p>santolina.uy@gmail.com</p>
                        </div>
                    </div>
                    
                    <div class="contact-item">
                        <a href="https://wa.me/59899971075" target="_blank">
                            <div class="contact-icon">
                                <i class="fab fa-whatsapp"></i>
                            </div>
                        </a>
                        <div class="contact-details">
                            <h3>Teléfono</h3>
                            <p>+598 99 971 075</p>
                        </div>
                    </div>
                    
                    
                    
                    
                </div>
                
                <form id="contact-form">
                    <div class="form-group">
                        <input type="text" name="nombre" placeholder="Nombre completo" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="tel" name="telefono" placeholder="Teléfono">
                    </div>
                    <div class="form-group">
                        <select name="asunto" required>                            
                            <option value="alimentacion">Alimentación</option>                            
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea name="mensaje" placeholder="Mensaje" required rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-full">Enviar Mensaje</button>
                </form>
            </div>
        </div>
    </section>    

    {% include "partials/footer.html" %}

    <script src="/static/script.js"></script>
</body>
</html> 