<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>    
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    {% include "partials/header.html" %}
    <div class="login-container">
        <div class="login-container-img">
            <img class="login-img" src="/static/img/logo.png" alt="Santolina">
        </div>        
        <br>        
        <h2>Para acceder al carrito debes iniciar sesión</h2>
        <br> 

        <div class="btn-registro-container">
            
            <a class="btn-registro" href="/login">Iniciar sesión</a>
        </div>
        
        <br>
        

        <br>        
        ¿No tienes usuario?
        <br>
        <div class="btn-registro-container">
            
            <a class="btn-registro" href="/registro">Registrarse</a>
        </div>

    </div>
    
        <script src="/static/script.js"></script>
</body>
</html>