<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>    
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    {% include "partials/header.html" %}
    <div class="login-container">
        <div class="login-container-img">
            <img class="login-img" src="/static/img/logo.png" alt="Santolina">
        </div>        
        <br>        
        <h2>Reseteo de contraseña</h2>
        <br> 
        <form action="/forgot-password" method="post" class="login-form">
            
            <div class="form-group">
                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" name="email" required>
                
            </div>

            <button type="submit" class="submit-btn">Enviar enlace de reseteo</button>
        </form>        

    </div>
    <script>
        document.getElementById('login-form').addEventListener('submit', async function(e) {
            e.preventDefault();
            const form = e.target;
            const formData = new FormData(form);
        
            const response = await fetch(form.action, {
                method: 'POST',
                body: formData,
                credentials: 'include' // importante para que la cookie JWT se guarde
            });
        
            if (response.ok) {
                window.location.href = '/';
            } else {
                // Opcional: mostrar error
                const data = await response.json();
                alert(data.detail || "Error al iniciar sesión");
            }
        });
        </script>
        <script src="/static/script.js"></script>
</body>
</html>


