<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>    
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    {% include "partials/header.html" %}
    <div class="login-container">
        <div class="login-container-img">
            <img class="login-img" src="/static/img/logo.png" alt="Santolina">
        </div>        
        <br>        
        <h2>Iniciar sesión</h2>
        <br> 
        <form id="login-form" class="login-form" action="/auth/jwt/login" method="post">
            
            <div class="form-group">
                <label for="username">Correo electrónico:</label>
                <input type="email" id="username" name="username" required>
                
            </div>
            
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                
            </div>

            <button class="submit-btn" type="submit">Ingresar</button>
        </form>
        <br>

        <a href="/forgot-password"">Olvidé mi contraseña</a>
        <br>

        <br>        
        ¿No tienes usuario?
        <br>
        <div class="btn-registro-container">
            
            <a class="btn-registro" href="/registro">Registrarse</a>
        </div>

    </div>
    <script>
        document.getElementById('login-form').addEventListener('submit', async function(e) {
            e.preventDefault();
            const form = e.target;
            const formData = new FormData(form);
        
            const response = await fetch(form.action, {
                method: 'POST',
                body: formData,
                credentials: 'include' // importante para que la cookie JWT se guarde
            });
        
            if (response.ok) {
                // Ir al home después del login exitoso
                window.location.href = '/';
            } else {
                // Opcional: mostrar error
                const data = await response.json();
                alert(data.detail || "Error al iniciar sesión");
            }
        });
        </script>
        <script src="/static/script.js"></script>
</body>
</html>