<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">    
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    
    <title>Error en el pago</title>
</head>

<body>
    <div class="container-img">
        <img class="img-reserva-confirmada" src="/static/img/logo.png" alt="Santolina">
    </div>

    <div class="container reserva-error">        
        <h2>No se pudo procesar tu pago</h2>
        <br>
        

        {% if mensaje %}
            <p>{{ mensaje }}</p>
        {% endif %}

        {% if evento %}
            <br>
            <p><strong>Evento:</strong> {{ evento.titulo }}</p>
            <p><strong>Fecha:</strong> {{ evento.fecha.strftime('%d/%m/%Y') }}</p>
            <p><strong>Hora:</strong> {{ evento.hora }}</p>
        {% endif %}

        <br>

        <a href="/eventos-disponibles" class="btn btn-primary">Volver a eventos</a>
    </div>
</body>
</html>