<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    <title>Santolina - Reiki</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    {% include "partials/header.html" %}

    <!-- Sección de Presentación -->
    <section id="presentacion-alimentacion" class="container-reiki">
        <div class="container-yoga-content">
            <h2 class="yoga-title">Sesión de Reiki</h2>
            <p class="yoga-subtitle"></p>
                      
        </div>
    </section>

    <section id="sesion-reiki" class="container-clases-yoga">
        <div class="container-img-txt">
            <div class="container-img-secondary">
                <img class="img-secondary" src="/static/img/img-reiki-2.jpg" alt="Reiki">
            </div>
            <div class="container-txt-secondary">
                    <p class="about-txt"><i class="fa-solid fa-circle-info"></i> Sesión de Reiki</p>   
                    <h3 class="info-titulo">Equilibra tu <span class="color-resaltado">energía</span> y armoniza tu <span class="color-resaltado">bienestar</span>.</h3>
                    <br>                    
                    <p class="info-texto">Disfruta de una sesión de Reiki de 45 a 60 minutos donde, 
                        a través de la imposición de manos, canalizo la energía universal 
                        para armonizar tu cuerpo y mente.</p>
                        <p>Es un momento de relajación profunda 
                        que ayuda a reducir el estrés, mejorar tu energía y promover tu bienestar integral.</p>
                        <br>
                        <p>¿Listo para sentirte renovado y en equilibrio?</p>

                    <br>
                    <div class="info-elements">
                        <a href="/eventos-disponibles?categoria=Terapias" class="btn btn-info">Ver fechas disponibles</a>
                    </div>
            </div>
        </div>
    </section>
    
    

    <!-- Sección de Contacto -->
    <section id="contacto" class="contact">
        <div class="container">
            <h2 class="section-title">Contacto</h2>
            <p class="section-subtitle">Contáctanos para solicitar más información</p>
            
            <div class="contact-content">
                <div class="contact-info">
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="contact-details">
                            <h3>Email</h3>
                            <p>santolina.uy@gmail.com</p>
                        </div>
                    </div>
                    
                    <div class="contact-item">
                        <a href="https://wa.me/59899971075" target="_blank">
                            <div class="contact-icon">
                                <i class="fab fa-whatsapp"></i>
                            </div>
                        </a>
                        <div class="contact-details">
                            <h3>Teléfono</h3>
                            <p>+598 99 971 075</p>
                        </div>
                    </div>
                    
                    
                    
                    
                </div>
                
                <form id="contact-form">
                    <div class="form-group">
                        <input type="text" name="nombre" placeholder="Nombre completo" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="tel" name="telefono" placeholder="Teléfono">
                    </div>
                    <div class="form-group">
                        <select name="servicio" required>                            
                            <option value="sesion-reiki">Sesión de Reiki</option>                            
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea name="mensaje" placeholder="Mensaje" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-full">Enviar Mensaje</button>
                </form>
            </div>
        </div>
    </section>    

    {% include "partials/footer.html" %}

    <script src="/static/script.js"></script>
</body>
</html> 