<!-- templates/registro.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reseteo de contraseña</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    {% include "partials/header.html" %}
    <div class="login-container">
        <div class="login-container-img">
            <img class="login-img" src="/static/img/logo.png" alt="Santolina">
        </div>
        <br> 
        <h2>Reseteo de contraseña</h2>

        <form action="/reset-password" method="post" class="login-form">

            <input type="hidden" name="token" value="{{ token }}">
            
            <div class="form-group">
                <label for="password">Nueva contraseña:</label>
                <input type="password" id="password" name="password" required>
                
                <label for="confirm_password">Repetir contraseña:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>            

            <button class="submit-btn" type="submit">Cambiar contraseña</button>
        </form>


    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.querySelector('.login-form');
            if (form) {
                form.addEventListener('submit', function (e) {
                    const password = document.getElementById('password').value;
                    const confirm = document.getElementById('confirm_password').value;
                    if (password !== confirm) {
                        e.preventDefault();
                        alert("Las contraseñas no coinciden.");
                    }
                });
            }
        });
        </script>
    <script src="/static/script.js"></script>
</body>
</html>






